# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\jdk1.8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out
/.idea
/jdk1.8/jdk1.8.iml
